\#*\#
.\#*
*.class
*.jar
/*.iml
/.eastwood
/.env
/.envrc
/.idea/
/.lein-env
/.lein-failures
/.lein-repl-history
/.nrepl-port
/build.xml
/checkouts
/classes
/pom.xml
/pom.xml.asc
/profiles.clj
/target
